body{
		height: 600px;
		border: 5px solid #000;
    width: 550px;
  margin: auto;
  background-color: gray;
  color: white;
text-align: center;
  margin-top: 30px;
}
h1{
  margin: auto;
  padding: auto;
  margin-top: 30px;
  width: 450px;
  border: 5px solid #000;
  font-family: arial;
  font-size: 25px;
}

form{
  font-size: 30px;
	
}
h2{
    font-family: arial;
  font-size: 30px;
  padding: 5px;
  margin: auto;
  margin-top: 50px;
}
input{
border: 3px solid #000;
  width: 250px;
  height: 30px;
   border-radius: 25px;
  margin-top: 25px;
}
